# dependencies
node_modules/

# next.js
.next/
out/
build/

# env files
.env*.local
.env

# prisma
prisma/dev.db
prisma/dev.db-journal

# typescript
*.tsbuildinfo
next-env.d.ts

# superpowers (internal)
.superpowers/

# os
.DS_Store
*.pem
Thumbs.db
